<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>{% block title %} {% endblock %}</title>
</head>

<body class="container-fluid ">
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">My</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cars">Cars</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>
                </ul>
                <a class="btn btn-outline-primary m-1" href="/login">Sign In</a>
                <a class="btn btn-outline-primary m-1" href="/login/logout">Logout</a>
                <p>{{users.username}}</p>
                {% block search %}
                {% endblock %}
                {% block nav_login %}
                {% endblock %}
            </div>
        </div>
    </nav>
</header>
{% block content %} {% endblock %}
<footer class="row justify-content-center bottom">
    <div class="col-12">
        <p>&copy; 2021 - My</p>
    </div>
</footer>
</body>
</html>
