<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<main class="container">
    <div class="row">
        {% for car in cars %}
        <div class="card m-3" style="width: 18rem;">
            {% comment %} <img src="..." class="card-img-top" alt="card-car"> {% endcomment %}
            <div class="card-body">
                <h5 class="card-title">{{ car.title }}</h5>
                <p class="card-text">{{ car.description }}</p>
                <a href="{{ car.get_absolute_url }}" class="btn btn-primary">Details</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <a href='create' class="btn btn-primary">Add new car</a>
</main>
{% endblock %}